body{
    text-align: center;
    background-color: rgb(52, 97, 71);
    color: white;
    font-family: 'Lucida Sans';
    font-size: 1.4rem;
}
input,select{
    background-color: black;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}
button{
    background-color: black;
    border-radius: 6px;
    color: white;
    font-size: 0.9rem;
}
